/* 
	Color Variables
*/
$dark-grey: #67686d;
$medium-grey: #7e7f84;
$light-grey: #767f84;
$extralight-grey: #ededed;

$primary-red: #f45a40;

$white-color: #fff;

/*
	Fonts
*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$font-headline: 'PT Sans', sans-serif;
$font-main: 'Arial', sans-serif;
